@using Resources
@model IEnumerable<td_department>
@{
    ViewBag.Title = "Index";
}
<ul class="nav nav-tabs" style="padding-top: 20px">
    <li class="active"><a data-toggle="tab" href="#home">@GlobalRes.Primary</a></li>
    <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
    <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
</ul>

<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        @Html.Partial("ParDepartmentAdd")
    </div>
    <div id="menu1" class="tab-pane fade">
        <h3>Menu 1</h3>
        <p>Some content in menu 1.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
        <h3>Menu 2</h3>
        <p>Some content in menu 2.</p>
    </div>
</div>




